body {
  background-color: gainsboro;
  text-align: center;
  align-items: center;
}

#contenedor {
  width: 400px;
  margin: 0 auto;
  background-color: #E0F5F9;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #51C0D2 ;
  margin-top: 5em;
  margin-bottom: 5em;
}

#contenido {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: center;
}

#encabezado {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 13px;
  background-color: #E0F5F9;
  color: #292A2A;
  text-align: center;
  padding: 10px;
}